body {
    display: grid;
    grid-template-rows: 1in 1in 1in 1in 1in 1in 1in 1in 1in 1in;
    background-color: white;
    color: black;
    margin-left: 0.1875in;
    margin-right: 0.1875in;
    margin-top: 0.5in;
    margin-bottom: 0;
    font-size: 15px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.row {
    display: grid;
    grid-template-columns: 2.625in 2.625in 2.625in;
}

.column {
    display: grid;
    grid-template-columns: 0.95in 1fr;
    margin-right: 0.125in;
}

img {
    width: 0.9in;
}